.container-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  border: 1px solid #ccc;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .container-movie-list {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

.image-container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image:hover {
  cursor: pointer;
}
